In [2]:
#This project include data cleaning via python and make dashboard about bike rides in london analysis
# --1. we are making some data cleaning and transformation for first part.


!pip install pandas
!pip install zipfile
!pip install kaggle

# import the pandas library
import pandas as pd

# import zipfile library (we will use this to extract the file downloaded from Kaggle)
import zipfile

# import kaggle library (we will use this to download the dataset programatically from Kaggle)
import kaggle

Requirement already satisfied: pandas in c:\users\deniz\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\deniz\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\deniz\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\deniz\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\deniz\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile

Requirement already satisfied: kaggle in c:\users\deniz\anaconda3\lib\site-packages (1.5.16)
Requirement already satisfied: six>=1.10 in c:\users\deniz\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\deniz\anaconda3\lib\site-packages (from kaggle) (2023.5.7)
Requirement already satisfied: python-dateutil in c:\users\deniz\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\deniz\anaconda3\lib\site-packages (from kaggle) (2.29.0)
Requirement already satisfied: tqdm in c:\users\deniz\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\deniz\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\deniz\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\deniz\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\deniz\anaconda3\lib\site-packages (from bleach->kaggle) (23.0)
Requirement already satisfied: webencodings in c:\users\deniz\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\deniz\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\deniz\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\deniz\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\deniz\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [3]:
# download dataset from kaggle using the Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
# extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [5]:
# read in the csv file as a pandas dataframe
bikes = pd.read_csv("london_merged.csv")

In [6]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [7]:
#this is how I change the column names which I want to replace.
new_cols = {'timestamp':'time',
            'cnt': 'count',
            't1' : 'temp_real_C',
            't2': 'temp_feels_like_C',
            'hum': 'humidity_percentage',
            'wind_speed':'wind_speed_kph',
            'weather_code':'weather',
            'is_holiday':'is_holiday',
            'is_weekend':'is_weekend',
            'season' : 'season'
            
           }
# Renaming the columns to the specified column names

bikes.rename(new_cols, axis=1 , inplace =True)

In [8]:
#we just start to manipulating to data. We start over with humidity percentage
bikes.humidity_percentage = bikes.humidity_percentage/100

In [10]:
bikes.head(15)

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,1.0,0.0,1.0,3.0
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,4.0,0.0,1.0,3.0
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,4.0,0.0,1.0,3.0
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,4.0,0.0,1.0,3.0
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,3.0,0.0,1.0,3.0
10,2015-01-04 10:00:00,528,3.0,-0.5,0.930,12.0,3.0,0.0,1.0,3.0
11,2015-01-04 11:00:00,727,2.0,-1.5,1.000,12.0,3.0,0.0,1.0,3.0
12,2015-01-04 12:00:00,862,2.0,-1.5,0.965,13.0,4.0,0.0,1.0,3.0
13,2015-01-04 13:00:00,916,3.0,-0.5,0.870,15.0,3.0,0.0,1.0,3.0
14,2015-01-04 14:00:00,1039,2.5,0.0,0.900,8.0,3.0,0.0,1.0,3.0

In [49]:
bikes.weather.unique()

array([ 3.,  1.,  4.,  7.,  2., 26., 10.])

In [51]:
# creating a season dictionary so that we can map the integers 0-3 to the actual written values
season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'autumn',
    '3.0':'winter'
}

# creating a weather dictionary so that we can map the integers to the actual written values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

# changing the seasons column data type to string
bikes.season = bikes.season.astype('str')
# mapping the values 0-3 to the actual written seasons
bikes.season = bikes.season.map(season_dict)

# changing the weather column data type to string
bikes.weather = bikes.weather.astype('str')
# mapping the values to the actual written weathers
bikes.weather = bikes.weather.map(weather_dict)

In [52]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percentage,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,Clear,0.0,1.0,winter